;; clojure -M:<alias>
;; eg. clojure -M:outdated
{:aliases  {:dev {:extra-paths ["development/src"
                                "bases/service/src"
                                "bases/webapp/src"
                                "components/fhir/src"]

                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               io.pedestal/pedestal.service {:mvn/version "0.7.2"}
                               io.pedestal/pedestal.jetty {:mvn/version "0.7.2"}
                               io.pedestal/pedestal.route {:mvn/version "0.7.2"}
                               clj-http/clj-http {:mvn/version "3.13.0"}

                               ;; Polylith
                               samd/service {:local/root "bases/service"}
                               samd/webapp {:local/root "bases/webapp"}
                               samd/fhir {:local/root "components/fhir"}}}

            :test {:extra-paths ["bases/service/test"
                                 "bases/webapp/test"
                                 "components/fhir/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}


            :repl {:main-opts ["-m" "nrepl.cmdline"
                               "--interactive"
                               "--port" "10000"
                               "--color"
                               "--middleware" "[cider.nrepl/cider-middleware refactor-nrepl.middleware/wrap-refactor]"]
                   :extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                                refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
                                cider/cider-nrepl {:mvn/version "0.28.4"}}}

            :debug {;; https://flow-storm.github.io/flow-storm-debugger/user_guide.html#_clojurestorm
                    ;; for disabling the official compiler
                    :classpath-overrides {org.clojure/clojure nil}
                    :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.0-3"}
                                 com.github.flow-storm/flow-storm-dbg {:mvn/version "4.1.2"}}
                    :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                               "-Dclojure.storm.instrumentOnlyPrefixes=nomad."]}

            :outdated {:main-opts ["-m" "antq.core"]
                       :extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1260"}}}}}