{:paths ["src" "resources" "target"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}

        ;; Backend dependencies

        ;; Ring Core - Required for middleware & handlers
        ring/ring-core {:mvn/version "1.13.0"}
        ;; Jetty Adapter - Needed to run Pedestal with Jetty
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        ;; Middleware Defaults (helps with static files & CORS)
        ring/ring-defaults {:mvn/version "0.6.0"}
        ;; Middleware for serving static files
        ring/ring-servlet {:mvn/version "1.13.0"}
        ;; Handles JSON requests and responses
        ring/ring-json {:mvn/version "0.5.1"}
        ;; Enables CORS (for API requests from browsers)
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ;; Logging middleware
        ring-logger/ring-logger {:mvn/version "1.1.1"}
        ;; Routing library for Ring
        compojure/compojure {:mvn/version "1.7.1"}
        ;; Wraps the Apache HttpComponents client
        clj-http/clj-http {:mvn/version "3.13.0"}
        ;; Add any other backend deps you need
        ;; nREPL for interactive development
        nrepl/nrepl {:mvn/version "1.3.1"}

        ;; Client-side
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        ;; React wrapper for ClojureScript
        reagent/reagent {:mvn/version "1.3.0" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]}
        ;; A ClojureScript MVC-like Framework For Writing SPAs Using Reagent.
        re-frame/re-frame {:mvn/version "1.4.3"}
        ;; HTTP Effect Handler for re-frame
        day8.re-frame/http-fx {:mvn/version "v0.2.0"}
        ;; AJAX library for ClojureScript
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        ;; Bidirectional URI routing
        bidi/bidi {:mvn/version "2.1.6"}
        ;; HTML5 pushState for ClojureScript
        kibu/pushy {:mvn/version "0.3.8"}
       ;; Figwheel for hot-reloading
        com.bhauman/figwheel-main {:mvn/version "0.2.20"}

        ;; Logging
        com.taoensso/timbre {:mvn/version "6.6.1"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.16"}

        poly/fhir {:local/root "../../components/fhir"}}

 :aliases {;; Figwheel alias for running ClojureScript development server
           :figwheel {:extra-deps {cider/cider-nrepl {:mvn/version "0.52.0"}
                                   nrepl/nrepl {:mvn/version "1.3.1"}
                                   com.bhauman/figwheel-main {:mvn/version "0.2.20"}
                                   com.bhauman/rebel-readline-cljs {:mvn/version "0.1.5"}}
                      :extra-paths ["src" "resources" "test"]
                      :exec-fn figwheel.main/start
                      :exec-args {:build "dev"}}

           ;; Server alias for running the server
           :dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.52.0"}}
                 :extra-paths ["src" "resources" "test"]
                 :exec-fn dev.curiousprogrammer.server.core/-main}

           :test {:extra-paths ["test"]
                  :extra-deps {}
                  :main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "dev.test-runner"]}
           ;; -b dev	Specifies the build name as dev (corresponding to dev.cljs.edn)
           ;; -r	Starts a REPL after launching Figwheel
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :clean {:main-opts ["-m" "figwheel.main" "--clean" "dev"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}}}