^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :auto-bundle :webpack
  :open-url false
  :ring-handler dev.curiousprogrammer.webapp.server/ring-handler}
{:main dev.curiousprogrammer.webapp.web.core
 :output-dir "resources/public/js"
 :asset-path "/js"
 :figwheel {:server-port 9500}
 :nrepl {:port 7000}}
